<?php include '../layout/header.php'; ?>
<div class="container">
    <div class="row">
      <h4>Ma boutique moto en ligne</h4>

        <?php include '../layout/col-left.php'; ?>
        <div class="span9">

            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="http://www.motorevue.com/wp-content/uploads/2014/05/1.jpg" alt="DevAndClick" width="300" height="300">
                        <div class="caption">
                            <h4>MT 07</h4>
                            <p>7000,00 €</p>
                            <a class="btn btn-primary" href="{{ path('infos', {'id' : ""}) }}">Plus d'infos</a>
                            <a class="btn btn-success" href="{{ path('panier', {'id' : ""}) }}">Ajouter au panier</a>
                            <br />
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <img src="http://www.moto-station.com/actualites/wp-content/uploads/2016/10/yamaha_mt-09_2017_4-500x357.jpg" alt="DevAndClick" width="300" height="300">
                        <div class="caption">
                            <h4>MT 09</h4>
                            <p>9000,00 €</p>
                            <a class="btn btn-primary" href="{{ path('infos', {'id' : ""}) }}">Plus d'infos</a>
                            <a class="btn btn-success" href="{{ path('panier', {'id' : ""}) }}">Ajouter au panier</a>
                            <br />
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <img src="http://www.moto-station.com/ttesimages/motodivers/Nouveautes_2016/Essai_Yamaha_MT-10/yamaha_mt10_1.jpg" alt="DevAndClick" width="300" height="300">
                        <div class="caption">
                            <h4>MT 10</h4>
                            <p>12000,00 €</p>
                            <a class="btn btn-primary" href="{{ path('infos', {'id' : ""}) }}">Plus d'infos</a>
                            <a class="btn btn-success" href="{{ path('panier', {'id' : ""}) }}">Ajouter au panier</a>
                            <br />
                        </div>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="http://www.moto-station.com/actualites/wp-content/uploads/2015/10/ITV-Yamaha-XSR-700-1.jpg" alt="DevAndClick" width="300" height="300">
                        <div class="caption">
                            <h4>XSR 700</h4>
                            <p>7000,00 €</p>
                            <a class="btn btn-primary" href="{{ path('infos', {'id' : ""}) }}">Plus d'infos</a>
                            <a class="btn btn-success" href="{{ path('panier', {'id' : ""}) }}">Ajouter au panier</a>
                            <br />
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <img src="https://www.motoplanete.com/yamaha/galerie/XSR-900//3.jpg" alt="DevAndClick" width="300" height="300">
                        <div class="caption">
                            <h4>XSR 900</h4>
                            <p>9000,00 €</p>
                            <a class="btn btn-primary" href="{{ path('infos', {'id' : ""}) }}">Plus d'infos</a>
                            <a class="btn btn-success" href="{{ path('panier', {'id' : ""}) }}">Ajouter au panier</a>
                            <br />
                        </div>
                    </div>
                </li>

            </ul>



        </div>
    </div>
</div>
<?php include '../layout/footer.php'; ?>
